<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link href="vendor/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/f763e9ac42.js" crossorigin="anonymous"></script>
    <title>Manga Archive - Add New Manga</title>
  </head>
  <body>
    <div class="body-container"><%- include('header') %> <%- include('manga-form', {series, genre, errors}) %></div>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/select2/dist/js/select2.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.genres').select2();
      });
    </script>
  </body>
</html>
