<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>Manga Archive - Delete Genre</title>
  </head>
  <body>
    <%- include('header') %>
    <div class="body-container"><%- include('genre-delete-list', genres) %></div>
  </body>
</html>
