<dialog close class="delete-dialog-<%=id%> dialog-container">
  <i data-close="<%=id%>" class="fa-solid fa-square-xmark delete-dialog-close"></i>
  <div class="delete-dialog">
    <div>
      <label class="delete-password-label" for="password-<%=id%>">Admin Password</label>
      <input class="delete-password-input" type="password" id="password-<%=id%>" name="password" required />
    </div>
    <button type="submit" class="delete-submit-btn">DELETE</button>
  </div>
</dialog>
