<form action="/add-genre" method="post">
  <% if (errors.length > 0) { %> <%- include('errors', {errors}) %> <% } %>

  <div class="genre-form">
    <div class="genre-input-container">
      <label class="gnere-form-label" for="genre">Genre name</label>
      <input class="genre-input" type="text" name="genre" id="genre" placeholder="Adventure" required />
    </div>
    <button class="genre-add" type="submit">Add <i class="fa-regular fa-plus"></i></button>
  </div>
</form>
