<div class="genre-list">
  <ul>
    <% genres.forEach((genre)=>{ %>
    <li>
      <div>
        <p><%=genre.genre_name%></p>
        <form action="/delete-genre/<%=genre.id%>" method="post"><button type="submit">delete</button></form>
      </div>
    </li>
    <% }) %>
  </ul>
</div>
