<header class="header">
  <a href="/">
    <h1 class="logo">Manga Archive</h1>
  </a>
  <ul class="header-links">
    <a href="/add-manga">
      <li>Add Manga</li>
    </a>
    <a href="/manage-genre">
      <li>Manage Genre</li>
    </a>
  </ul>
</header>
