<div class="manga-form-container">
  <div class="manga-form-content">
    <a class="back-button" href="/"><i class="fa-solid fa-arrow-left"></i><span>Back to Homepage</span></a>
    <form action="/add-manga" method="post" class="manga-form">
      <div class="add-input-container">
        <label class="input-label" for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Dragon Ball" required />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="chapter-count">Chapter Count</label>
        <input type="number" name="chapterCount" id="chapter-count" placeholder="123" required />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="status">Status</label>
        <select id="status" name="status">
          <option value="Completed">Completed</option>
          <option value="Ongoing">Ongoing</option>
        </select>
      </div>
      <div class="add-input-container">
        <label class="input-label" for="publisher">Publisher</label>
        <input type="text" name="publisher" id="publisher" placeholder="Shueisha" required />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="author">Author</label>
        <input type="text" name="author" id="author" placeholder="Akira Toriyama" required />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="image">Image Link</label>
        <input type="text" name="image" id="image" placeholder="img.com/i1.jpg" required />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="date">Release Date</label>
        <input type="date" id="date" name="date" />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="genres">Genre</label>
        <select class="genres" id="genres" name="genres" multiple>
          <% genre.forEach((g)=>{ %>
          <option value="<%=g.id%>"><%=g.genre_name%></option>
          <% }); %>
        </select>
      </div>
      <button class="manga-form-btn" type="submit">Add Manga <i class="fa-regular fa-plus"></i></button>
    </form>
  </div>
</div>
