body {
  background-color: #222b3f;
  color: #4ec6e0;
}
.header {
  background-color: #0f131c;
  color: #4ec6e0;
  border-bottom: 1px solid #d1d9e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  font-size: 2.4rem;
  padding: 0 40px;
}

.logo {
  font-size: clamp(3.2rem, 11.1vw, 4.8rem);
}
.header-links {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: clamp(2rem, 5.7vw, 2.4rem);
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }
  .header-links {
    padding-inline-start: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px;
  gap: 8px;
}

.filter-form {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  font-size: 1.6rem;
  max-width: 600px;
  width: 100%;
  padding-bottom: 32px;
}
.filter-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
  color: #fff;
  gap: 8px;
}

.filter-input-container select {
  width: 100%;
}

.filter-btn {
  background-color: #0f131c;
  color: #4ec6e0;
  padding: 3px;
  border-radius: 4px;
  border: none;
  margin-bottom: 2px;
  width: 128px;
  font-weight: bold;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  gap: 32px;
}

.list-title {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  font-size: 2.4rem;
}

.list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  width: 100%;
  max-width: 1000px;
  gap: 64px;
}

.filter-warning {
  font-size: 1.6rem;
}

.card {
  max-width: 200px;
  max-height: 350px;
}

.placeholder-cover,
img {
  height: 315px;
  width: 200px;
  min-height: 315px;
  min-width: 200px;
  background-color: #212121;
}

.placeholder-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #4ec6e0;
}

.cover-text {
  text-align: center;
  font-size: 1.2rem;
  color: #9e9e9e;
}

.card-series-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-top: 8px;
}

.edit-delete-btn {
  display: flex;
  font-size: 1.6rem;
}
.series-edit-btn,
.series-delete-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.card-title:hover {
  color: #fff;
}
.card-author-name {
  color: #9e9e9e;
}

.details-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  gap: 16px;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  width: 100%;
  padding: 0 16px;
  padding-bottom: 64px;
}
.details {
  display: flex;
  background-color: #0f131c;
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  gap: 32px;
  font-size: 1.6rem;
  color: #fff;
}

.fa-arrow-left {
  padding-right: 4px;
}

.back-button {
  padding-left: 8px;
  font-size: 1.6rem;
  font-weight: bold;
  width: fit-content;
}

.back-button:hover {
  color: #fff;
}

.details-title {
  font-size: 4rem;
  font-weight: bold;
}

.details-series-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.details-info-container {
  display: flex;
  gap: 15%;
  width: 100%;
  font-size: clamp(1.6rem, 4.4vw, 1.8rem);
}

.details-icon-container {
  display: flex;
  gap: 8px;
}

.details-icon-container i {
  background-color: #222b3f;
  padding: 8px;
  border-radius: 4px;
  height: fit-content;
  margin-top: 4px;
}

.details-left-container,
.details-right-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details-text {
  font-weight: bold;
  color: #4ec6e0;
  padding-left: 8px;
}

@media (max-width: 800px) {
  .details {
    flex-direction: column;
    align-items: center;
  }
  .details-series-container {
    align-items: center;
  }
  .details-info-container {
    justify-content: center;
  }
  .details-title {
    margin-top: -16px;
  }
}

/* Manage Genre */

.genre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px;
  gap: 16px;
}

.genre-form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.genere-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-size: 1.6rem;
  background-color: #0f131c;
  max-width: 800px;
  padding: 64px 32px;
  border-radius: 16px;
}

.genre-form {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
  padding-top: 16px;
}

.genre-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gnere-form-label {
  font-weight: bold;
  color: #fff;
  padding-left: 2px;
}
.genre-input {
  width: 100%;
}
.genre-input,
.genre-add {
  border-radius: 8px;
  padding: 8px;
  border: none;
}

.genre-add {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #222b3f;
  color: #fff;
}

.genre-add:hover {
  background-color: #2e3a55;
  cursor: pointer;
}

.genre-add i {
  color: #4ec6e0;
}

.genre-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 600px;
  flex-wrap: wrap;
  padding-inline-start: 0;
  padding: 0 16px;
}

.genre-delete-container {
  display: flex;
  padding: 8px;
  background-color: #222b3f;
  color: #fff;
  border-radius: 8px;
  gap: 4px;
}

.genere-delete-button {
  background: none;
  border: none;
}

.genere-delete-button i {
  cursor: pointer;
  color: #4ec6e0;
}

.genere-delete-button i:hover {
  color: red;
}

@media (max-width: 500px) {
  .genre-container {
    padding: 64px 16px;
  }

  .genere-form-content {
    padding: 64px 16px;
  }
  .genre-list {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0;
  }
  .genre-delete-container {
    justify-content: space-between;
  }
}

/* add manga */

.manga-form-container {
  display: flex;
  justify-content: center;
  padding: 64px 32px;
  font-size: 1.6rem;
}

.manga-form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  flex: 1;
}

.manga-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #0f131c;
  padding: 64px;
  border-radius: 16px;
  flex: 1;
}

.add-input-container {
  display: flex;
  flex-direction: column;
}

.input-label {
  color: #fff;
  font-weight: bold;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.optional-label {
  color: #4ec6e0;
  font-style: italic;
  font-size: 1.2rem;
}

.manga-form input,
.manga-form select {
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.manga-form-errors {
  padding-inline-start: 0;
}

.select2-container {
  color: #000;
  font-size: 1.6rem;
}
.manga-form-btn {
  padding: 8px;
  border-radius: 8px;
  width: 144px;
  align-self: center;
  margin-top: 32px;
  background-color: #222b3f;
  border: none;
  border-radius: 8px;
  color: #fff;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.manga-form-btn:hover {
  cursor: pointer;
  background-color: #2e3a55;
}
.manga-form-btn i {
  color: #4ec6e0;
}

@media (max-width: 500px) {
  .manga-form {
    padding: 64px 16px;
  }
  .manga-form-container {
    padding: 64px 16px;
  }
}

/* 404 & error*/

.error-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 64px 16px;
  height: 100%;
  font-size: 1.6rem;
}

.error-timer {
  text-align: center;
  color: #9e9e9e;
}

/* dialogs */
.dialog-container {
  padding: 48px 32px 32px 32px;
  border-radius: 16px;
  background-color: #0f131c;
  bottom: 35%;
}
.dialog-container::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.admin-dialog {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.password-label {
  color: #fff;
  font-weight: bold;
}

.dialog-close {
  color: #fff;
  position: absolute;
  right: 16px;
  bottom: 85%;
}

.dialog-close:hover {
  cursor: pointer;
}

.password-input {
  margin-top: 4px;
  width: 100%;
}

.admin-submit-btn {
  color: #4ec6e0;
  background-color: #222b3f;
  border: none;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}

.admin-submit-btn:hover {
  background-color: #b33939;
  color: #fff;
  cursor: pointer;
}
